<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.metacubex.mihomo</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/local/bin/mihomo</string>
        <string>-d</string>
        <string>/var/mobile/.config/mihomo</string>
        <string>-f</string>
        <string>/var/mobile/.config/mihomo/baidu.yaml</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SAFE_PATHS</key>
        <string>/usr/local/share/mihomo/ui</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
